In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('Social_Network_Ads.csv')

In [3]:
#what saved in this file#
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [8]:
dataset=dataset.drop("User ID",axis=1)

In [9]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [10]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [11]:
#show all columns in dataset#
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [12]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['Age', 'EstimatedSalary','Gender_Male']]

In [13]:
#what saved in this file#
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [14]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['Purchased']]

In [15]:
#what saved in this file#
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [16]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
#Model creation#
from sklearn.model_selection    import GridSearchCV
from sklearn.naive_bayes     import GaussianNB
param_grid = {
    'var_smoothing': [1e-9, 1e-8, 1e-7, 1e-6, 1e-5, 1e-4, 1e-3]}

grid=GridSearchCV(GaussianNB(), param_grid, refit=True, verbose=3,n_jobs=-1,scoring='f1_weighted')

grid.fit(X_train, y_train)

re=grid.cv_results_

y_pred = grid.predict(X_test) 
   
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

print("The confusion Matrix:\n",cm)

print(clf_report)

from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

table=pd.DataFrame.from_dict(re)
table

Fitting 5 folds for each of 7 candidates, totalling 35 fits
The f1_macro value for best parameter {'var_smoothing': 1e-09}: 0.9067630733274904
The confusion Matrix:
 [[76  3]
 [ 8 33]]
              precision    recall  f1-score   support

           0       0.90      0.96      0.93        79
           1       0.92      0.80      0.86        41

    accuracy                           0.91       120
   macro avg       0.91      0.88      0.89       120
weighted avg       0.91      0.91      0.91       120

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_var_smoothing,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.025002,0.012501,0.018753,0.006248,0.0,{'var_smoothing': 1e-09},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
1,0.003125,0.006250,0.018752,0.006251,0.0,{'var_smoothing': 1e-08},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
2,0.012502,0.006251,0.015622,0.000010,0.0,{'var_smoothing': 1e-07},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
3,0.003126,0.006252,0.018748,0.006251,0.000001,{'var_smoothing': 1e-06},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
4,0.003126,0.006252,0.021879,0.007655,0.00001,{'var_smoothing': 1e-05},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
5,0.012501,0.006250,0.018751,0.006249,0.0001,{'var_smoothing': 0.0001},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
6,0.015631,0.000020,0.015625,0.000024,0.001,{'var_smoothing': 0.001},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1

In [19]:
#Model creation#
from sklearn.model_selection    import GridSearchCV
from sklearn.naive_bayes     import MultinomialNB
mnb = MultinomialNB()
param_grid = {
    'alpha': [0.1, 0.5, 1.0, 2.0, 5.0, 10.0],  
    'fit_prior': [True, False]}

grid_search = GridSearchCV(estimator=mnb, param_grid=param_grid, cv=5, scoring='accuracy')

grid.fit(X_train, y_train)

re=grid.cv_results_

y_pred = grid.predict(X_test) 
   
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

print("The confusion Matrix:\n",cm)

print(clf_report)

from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

table=pd.DataFrame.from_dict(re)
table

Fitting 5 folds for each of 7 candidates, totalling 35 fits
The f1_macro value for best parameter {'var_smoothing': 1e-09}: 0.9067630733274904
The confusion Matrix:
 [[76  3]
 [ 8 33]]
              precision    recall  f1-score   support

           0       0.90      0.96      0.93        79
           1       0.92      0.80      0.86        41

    accuracy                           0.91       120
   macro avg       0.91      0.88      0.89       120
weighted avg       0.91      0.91      0.91       120

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_var_smoothing,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006405,0.005890,0.021880,0.007654,0.0,{'var_smoothing': 1e-09},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
1,0.010977,0.006233,0.022994,0.010410,0.0,{'var_smoothing': 1e-08},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
2,0.004978,0.006714,0.026918,0.017532,0.0,{'var_smoothing': 1e-07},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
3,0.009861,0.005997,0.018171,0.004856,0.000001,{'var_smoothing': 1e-06},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
4,0.000000,0.000000,0.028128,0.006248,0.00001,{'var_smoothing': 1e-05},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
5,0.012503,0.006252,0.015625,0.000010,0.0001,{'var_smoothing': 0.0001},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1
6,0.012500,0.006250,0.018752,0.006250,0.001,{'var_smoothing': 0.001},0.852966,0.857143,0.746799,0.964286,0.982051,0.880649,0.085454,1

In [20]:
#Model creation#
from sklearn.model_selection    import GridSearchCV
from sklearn.naive_bayes     import BernoulliNB

param_grid = {
    'alpha': [0.1, 0.5, 1.0, 2.0, 5.0],  
    'binarize': [0.0, 0.5, 1.0, 1.5],    
    'fit_prior': [True, False]}

grid=GridSearchCV(BernoulliNB(), param_grid, refit=True, verbose=3,n_jobs=-1,scoring='f1_weighted')

grid.fit(X_train, y_train)

re=grid.cv_results_

y_pred = grid.predict(X_test) 
   
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

print("The confusion Matrix:\n",cm)

print(clf_report)

from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

table=pd.DataFrame.from_dict(re)
table

Fitting 5 folds for each of 40 candidates, totalling 200 fits
The f1_macro value for best parameter {'alpha': 0.1, 'binarize': 0.5, 'fit_prior': True}: 0.8774061508960836
The confusion Matrix:
 [[67 12]
 [ 3 38]]
              precision    recall  f1-score   support

           0       0.96      0.85      0.90        79
           1       0.76      0.93      0.84        41

    accuracy                           0.88       120
   macro avg       0.86      0.89      0.87       120
weighted avg       0.89      0.88      0.88       120

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_binarize,param_fit_prior,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.037117,0.036154,0.017758,0.004257,0.1,0.0,True,"{'alpha': 0.1, 'binarize': 0.0, 'fit_prior': T...",0.782971,0.678571,0.563921,0.706970,0.739035,0.694294,0.073852,36
1,0.010440,0.005885,0.022348,0.004044,0.1,0.0,False,"{'alpha': 0.1, 'binarize': 0.0, 'fit_prior': F...",0.754941,0.650298,0.702624,0.736088,0.789032,0.726597,0.047303,31
2,0.012411,0.004081,0.015654,0.004500,0.1,0.5,True,"{'alpha': 0.1, 'binarize': 0.5, 'fit_prior': T...",0.858503,0.859966,0.877280,0.929513,0.982221,0.901497,0.047877,1
3,0.014162,0.003080,0.014374,0.003121,0.1,0.5,False,"{'alpha': 0.1, 'binarize': 0.5, 'fit_prior': F...",0.858503,0.859966,0.877280,0.929513,0.982221,0.901497,0.047877,1
4,0.012499,0.006249,0.018754,0.006251,0.1,1.0,True,"{'alpha': 0.1, 'binarize': 1.0, 'fit_prior': T...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
5,0.003125,0.006250,0.015627,0.000002,0.1,1.0,False,"{'alpha': 0.1, 'binarize': 1.0, 'fit_prior': F...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
6,0.015625,0.000003,0.015628,0.000002,0.1,1.5,True,"{'alpha': 0.1, 'binarize': 1.5, 'fit_prior': T...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21
7,0.015625,0.000003,0.015627,0.000003,0.1,1.5,False,"{'alpha': 0.1, 'binarize': 1.5, 'fit_prior': F...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21
8,0.003125,0.006249,0.028127,0.006249,0.5,0.0,True,"{'alpha': 0.5, 'binarize': 0.0, 'fit_prior': T...",0.782971,0.678571,0.563921,0.706970,0.739035,0.694294,0.073852,36
9,0.012502,0.006251,0.017126,0.003000,0.5,0.0,False,"{'alpha': 0.5, 'binarize': 0.0, 'fit_prior': F...",0.754941,0.650298,0.702624,0.736088,0.789032,0.726597,0.047303,31
10,0.007383,0.006888,0.017993,0.009039,0.5,0.5,True,"{'alpha': 0.5, 'binarize': 0.5, 'fit_prior': T...",0.858503,0.859966,0.877280,0.929513,0.982221,0.901497,0.047877,1
11,0.012915,0.008834,0.015313,0.004229,0.5,0.5,False,"{'alpha': 0.5, 'binarize': 0.5, 'fit_prior': F...",0.858503,0.859966,0.877280,0.929513,0.982221,0.901497,0.047877,1
12,0.013204,0.003312,0.021839,0.007399,0.5,1.0,True,"{'alpha': 0.5, 'binarize': 1.0, 'fit_prior': T...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
13,0.011421,0.006080,0.022033,0.007846,0.5,1.0,False,"{'alpha': 0.5, 'binarize': 1.0, 'fit_prior': F...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
14,0.014424,0.003709,0.016895,0.002270,0.5,1.5,True,"{'alpha': 0.5, 'binarize': 1.5, 'fit_prior': T...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21
15,0.010025,0.008414,0.022953,0.010051,0.5,1.5,False,"{'alpha': 0.5, 'binarize': 1.5, 'fit_prior': F...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21
16,0.011927,0.004069,0.033340,0.011519,1.0,0.0,True,"{'alpha': 1.0, 'binarize': 0.0, 'fit_prior': T...",0.782971,0.678571,0.563921,0.706970,0.739035,0.694294,0.073852,36
17,0.014938,0.003776,0.034760,0.006569,1.0,0.0,False,"{'alpha': 1.0, 'binarize': 0.0, 'fit_prior': F...",0.754941,0.650298,0.702624,0.736088,0.789032,0.726597,0.047303,31
18,0.010869,0.006551,0.021264,0.011421,1.0,0.5,True,"{'alpha': 1.0, 'binarize': 0.5, 'fit_prior': T...",0.858503,0.859966,0.877280,0.929513,0.982221,0.901497,0.047877,1
19,0.017426,0.004064,0.025326,0.011192,1.0,0.5,False,"{'alpha': 1.0, 'binarize': 0.5, 'fit_prior': F...",0.858503,0.859966,0.877280,0.929513,0.982221,0.901497,0.047877,1
20,0.003379,0.004148,0.021487,0.015547,1.0,1.0,True,"{'alpha': 1.0, 'binarize': 1.0, 'fit_prior': T...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
21,0.012233,0.007538,0.022382,0.006163,1.0,1.0,False,"{'alpha': 1.0, 'binarize': 1.0, 'fit_prior': F...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
22,0.019533,0.003447,0.038114,0.008883,1.0,1.5,True,"{'alpha': 1.0, 'binarize': 1.5, 'fit_prior': T...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21
23,0.019756,0.002096,0.042228,0.005236,1.0,1.5,False,"{'alpha': 1.0, 'binarize': 1.5, 'fit_prior': F...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21
24,0.021028,0.003596,0.029735,0.004833,2.0,0.0,True,"{'alpha': 2.0, 'binarize': 0.0, 'fit_prior': T...",0.782971,0.678571,0.563921,0.706970,0.739035,0.694294,0.073852,36
25,0.004708,0.006238,0.015267,0.004006,2.0,0.0,False,"{'alpha': 2.0, 'binarize': 0.0, 'fit_prior': F...",0.754941,0.650298,0.702624,0.736088,0.789032,0.726597,0.047303,31
26,0.016019,0.005847,0.017754,0.003565,2.0,0.5,True,"{'alpha': 2.0, 'binarize': 0.5, 'fit_prior': T...",0.858503,0.859966,0.877280,0.929513,0.982221,0.901497,0.047877,1
27,0.011723,0.010297,0.026207,0.008725,2.0,0.5,False,"{'alpha': 2.0, 'binarize': 0.5, 'fit_prior': F...",0.858503,0.859966,0.877280,0.929513,0.982221,0.901497,0.047877,1
28,0.010434,0.008615,0.032656,0.015120,2.0,1.0,True,"{'alpha': 2.0, 'binarize': 1.0, 'fit_prior': T...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
29,0.011982,0.007039,0.028232,0.019082,2.0,1.0,False,"{'alpha': 2.0, 'binarize': 1.0, 'fit_prior': F...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
30,0.008068,0.007350,0.027420,0.006747,2.0,1.5,True,"{'alpha': 2.0, 'binarize': 1.5, 'fit_prior': T...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21
31,0.003124,0.006249,0.021879,0.007655,2.0,1.5,False,"{'alpha': 2.0, 'binarize': 1.5, 'fit_prior': F...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21
32,0.015623,0.000002,0.016320,0.001383,5.0,0.0,True,"{'alpha': 5.0, 'binarize': 0.0, 'fit_prior': T...",0.782971,0.678571,0.563921,0.706970,0.739035,0.694294,0.073852,36
33,0.015622,0.000002,0.016321,0.001383,5.0,0.0,False,"{'alpha': 5.0, 'binarize': 0.0, 'fit_prior': F...",0.754941,0.650298,0.702624,0.736088,0.789032,0.726597,0.047303,31
34,0.009895,0.007604,0.030884,0.006854,5.0,0.5,True,"{'alpha': 5.0, 'binarize': 0.5, 'fit_prior': T...",0.795918,0.840114,0.877280,0.929513,0.982221,0.885009,0.065488,10
35,0.012579,0.006735,0.022413,0.007623,5.0,0.5,False,"{'alpha': 5.0, 'binarize': 0.5, 'fit_prior': F...",0.858503,0.859966,0.877280,0.929513,0.982221,0.901497,0.047877,1
36,0.017176,0.001011,0.022559,0.007812,5.0,1.0,True,"{'alpha': 5.0, 'binarize': 1.0, 'fit_prior': T...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
37,0.009926,0.009552,0.015574,0.000146,5.0,1.0,False,"{'alpha': 5.0, 'binarize': 1.0, 'fit_prior': F...",0.833024,0.816207,0.708141,0.911105,0.909115,0.835519,0.074477,11
38,0.006251,0.007656,0.018754,0.006251,5.0,1.5,True,"{'alpha': 5.0, 'binarize': 1.5, 'fit_prior': T...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21
39,0.007620,0.006742,0.026279,0.011121,5.0,1.5,False,"{'alpha': 5.0, 'binarize': 1.5, 'fit_prior': F...",0.802555,0.699092,0.646561,0.888158,0.782059,0.763685,0.083943,21