In [1]:
#importing the libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#50_Startups.csv file  assigned to dataset#
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
#what saved in this file#
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [6]:
#catogorical data convert to numerical data# 
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [8]:
dataset=dataset.drop("User ID",axis=1)

In [9]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [10]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [11]:
#show all columns in dataset#
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [12]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['Age', 'EstimatedSalary','Gender_Male']]

In [13]:
#what saved in this file#
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [14]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['Purchased']]

In [15]:
#what saved in this file#
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [16]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
#Model creation#
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model   import PassiveAggressiveClassifier
param_grid = {
    'C': [0.001, 0.01, 0.1, 1.0, 10.0],  
    'max_iter': [1000, 2000, 5000],       
    'tol': [1e-4, 1e-3],                 
    'loss': ['hinge', 'squared_hinge'],   
    'fit_intercept': [True, False],       
    'early_stopping': [True, False]}
    
grid=GridSearchCV(PassiveAggressiveClassifier(), param_grid, refit=True, verbose=3,n_jobs=-1,scoring='f1_weighted')

#fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 240 candidates, totalling 1200 fits

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=PassiveAggressiveClassifier(), n_jobs=-1,
             param_grid={'C': [0.001, 0.01, 0.1, 1.0, 10.0],
                         'early_stopping': [True, False],
                         'fit_intercept': [True, False],
                         'loss': ['hinge', 'squared_hinge'],
                         'max_iter': [1000, 2000, 5000],
                         'tol': [0.0001, 0.001]},
             scoring='f1_weighted', verbose=3)

In [19]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
y_pred = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [20]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'C': 0.01, 'early_stopping': True, 'fit_intercept': False, 'loss': 'squared_hinge', 'max_iter': 2000, 'tol': 0.001}: 0.8534100845234626

In [21]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[64 15]
 [ 3 38]]

In [22]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.96      0.81      0.88        79
           1       0.72      0.93      0.81        41

    accuracy                           0.85       120
   macro avg       0.84      0.87      0.84       120
weighted avg       0.87      0.85      0.85       120

In [23]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict(X_test))

0.8684779252855819

In [24]:
table=pd.DataFrame.from_dict(re)

In [25]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_early_stopping,param_fit_intercept,param_loss,param_max_iter,param_tol,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.021876,0.007655,0.018721,6.188846e-03,0.001,True,True,hinge,1000,0.0001,"{'C': 0.001, 'early_stopping': True, 'fit_inte...",0.816207,0.746799,0.616071,0.927778,0.888158,0.799003,0.110469,85
1,0.018755,0.006251,0.015623,4.041599e-06,0.001,True,True,hinge,1000,0.001,"{'C': 0.001, 'early_stopping': True, 'fit_inte...",0.795918,0.782971,0.616071,0.927778,0.926743,0.809896,0.114924,45
2,0.021875,0.007655,0.015627,2.281854e-06,0.001,True,True,hinge,2000,0.0001,"{'C': 0.001, 'early_stopping': True, 'fit_inte...",0.816207,0.763089,0.662573,0.927778,0.926743,0.819278,0.101039,13
3,0.018751,0.006251,0.015627,2.243670e-06,0.001,True,True,hinge,2000,0.001,"{'C': 0.001, 'early_stopping': True, 'fit_inte...",0.819142,0.782971,0.616071,0.927778,0.926743,0.814541,0.114734,21
4,0.018752,0.006251,0.015627,2.135677e-06,0.001,True,True,hinge,5000,0.0001,"{'C': 0.001, 'early_stopping': True, 'fit_inte...",0.795918,0.782971,0.616071,0.927778,0.926743,0.809896,0.114924,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,0.006251,0.007656,0.015626,1.669611e-06,10.0,False,False,squared_hinge,1000,0.001,"{'C': 10.0, 'early_stopping': False, 'fit_inte...",0.666713,0.702624,0.735484,0.788462,0.789032,0.736463,0.047914,196
236,0.003125,0.006250,0.015627,8.869684e-07,10.0,False,False,squared_hinge,2000,0.0001,"{'C': 10.0, 'early_stopping': False, 'fit_inte...",0.591402,0.754839,0.701795,0.859375,0.841837,0.749850,0.097875,181
237,0.009376,0.007655,0.018752,6.250644e-03,10.0,False,False,squared_hinge,2000,0.001,"{'C': 10.0, 'early_stopping': False, 'fit_inte...",0.701966,0.718869,0.701966,0.841837,0.595805,0.712089,0.078240,215
238,0.000000,0.000000,0.024976,5.360639e-03,10.0,False,False,squared_hinge,5000,0.0001,"{'C': 10.0, 'early_stopping': False, 'fit_inte...",0.772644,0.720238,0.662463,0.841837,0.824219,0.764280,0.066309,156
239,0.000000,0.000000,0.015627,2.423909e-06,10.0,False,False,squared_hinge,5000,0.001,"{'C': 10.0, 'early_stopping': False, 'fit_inte...",0.720238,0.735664,0.684924,0.578065,0.824194,0.708617,0.079787,218