In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('Social_Network_Ads.csv')

In [3]:
#what saved in this file#
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [8]:
dataset=dataset.drop("User ID",axis=1)

In [9]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [10]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [11]:
#show all columns in dataset#
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [12]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['Age', 'EstimatedSalary','Gender_Male']]

In [13]:
#what saved in this file#
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [14]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['Purchased']]

In [15]:
#what saved in this file#
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [16]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
#Model creation#
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
param_grid = {'kernel':['rbf','poly','sigmoid','linear'],
              'C':[19,100,1000,2000,3000],'gamma':['auto','scale'] }
grid=GridSearchCV(SVC(probability=True), param_grid, refit=True, verbose=3,n_jobs=-1)

#fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 40 candidates, totalling 200 fits

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SVC(probability=True), n_jobs=-1,
             param_grid={'C': [19, 100, 1000, 2000, 3000],
                         'gamma': ['auto', 'scale'],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             verbose=3)

In [19]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
y_pred = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [20]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}: 0.9161458333333334

In [21]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[75  4]
 [ 6 35]]

In [22]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.93      0.95      0.94        79
           1       0.90      0.85      0.88        41

    accuracy                           0.92       120
   macro avg       0.91      0.90      0.91       120
weighted avg       0.92      0.92      0.92       120

In [23]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9617165791911083

In [24]:
table=pd.DataFrame.from_dict(re)

In [25]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.031488,0.009893,0.013842,0.004012,19,auto,rbf,"{'C': 19, 'gamma': 'auto', 'kernel': 'rbf'}",0.875000,0.875000,0.839286,0.928571,0.928571,0.889286,0.034626,3
1,0.038922,0.009065,0.007676,0.003919,19,auto,poly,"{'C': 19, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.750000,0.928571,0.910714,0.846429,0.066432,11
2,0.024658,0.007013,0.012476,0.007839,19,auto,sigmoid,"{'C': 19, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.767857,0.714286,0.625000,0.696429,0.767857,0.714286,0.052973,40
3,0.061364,0.008172,0.013307,0.005522,19,auto,linear,"{'C': 19, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
4,0.039731,0.005342,0.013104,0.002839,19,scale,rbf,"{'C': 19, 'gamma': 'scale', 'kernel': 'rbf'}",0.875000,0.875000,0.839286,0.928571,0.928571,0.889286,0.034626,3
5,0.035646,0.006371,0.008086,0.003126,19,scale,poly,"{'C': 19, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.750000,0.928571,0.910714,0.846429,0.066432,11
6,0.020630,0.000811,0.008099,0.004049,19,scale,sigmoid,"{'C': 19, 'gamma': 'scale', 'kernel': 'sigmoid'}",0.767857,0.714286,0.642857,0.696429,0.785714,0.721429,0.051260,39
7,0.038858,0.006747,0.005257,0.004359,19,scale,linear,"{'C': 19, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
8,0.032339,0.003180,0.004418,0.003885,100,auto,rbf,"{'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}",0.857143,0.892857,0.857143,0.928571,0.928571,0.892857,0.031944,1
9,0.096088,0.018553,0.006070,0.004243,100,auto,poly,"{'C': 100, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,14
10,0.020205,0.000037,0.008502,0.003229,100,auto,sigmoid,"{'C': 100, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.767857,0.714286,0.750000,0.696429,0.767857,0.739286,0.029014,32
11,0.110755,0.023961,0.009715,0.000807,100,auto,linear,"{'C': 100, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
12,0.033576,0.004911,0.006476,0.003694,100,scale,rbf,"{'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}",0.857143,0.892857,0.857143,0.928571,0.928571,0.892857,0.031944,1
13,0.111366,0.042470,0.006071,0.004237,100,scale,poly,"{'C': 100, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.750000,0.928571,0.910714,0.846429,0.066432,11
14,0.021306,0.003354,0.007688,0.002971,100,scale,sigmoid,"{'C': 100, 'gamma': 'scale', 'kernel': 'sigmoid'}",0.767857,0.714286,0.750000,0.750000,0.767857,0.750000,0.019562,31
15,0.092355,0.007123,0.007289,0.002737,100,scale,linear,"{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
16,0.119369,0.028613,0.005385,0.005071,1000,auto,rbf,"{'C': 1000, 'gamma': 'auto', 'kernel': 'rbf'}",0.839286,0.875000,0.857143,0.910714,0.892857,0.875000,0.025254,6
17,0.731233,0.218384,0.007346,0.002996,1000,auto,poly,"{'C': 1000, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,14
18,0.020178,0.000015,0.007685,0.003921,1000,auto,sigmoid,"{'C': 1000, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.767857,0.714286,0.750000,0.696429,0.767857,0.739286,0.029014,32
19,0.640872,0.179416,0.010396,0.001746,1000,auto,linear,"{'C': 1000, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
20,0.097286,0.027091,0.007269,0.003750,1000,scale,rbf,"{'C': 1000, 'gamma': 'scale', 'kernel': 'rbf'}",0.839286,0.875000,0.857143,0.910714,0.892857,0.875000,0.025254,6
21,0.787346,0.396517,0.007569,0.003913,1000,scale,poly,"{'C': 1000, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,14
22,0.029248,0.007733,0.006477,0.003751,1000,scale,sigmoid,"{'C': 1000, 'gamma': 'scale', 'kernel': 'sigmo...",0.767857,0.714286,0.750000,0.696429,0.767857,0.739286,0.029014,32
23,0.504747,0.109528,0.009789,0.004496,1000,scale,linear,"{'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
24,0.163615,0.044511,0.012989,0.003171,2000,auto,rbf,"{'C': 2000, 'gamma': 'auto', 'kernel': 'rbf'}",0.821429,0.857143,0.857143,0.910714,0.928571,0.875000,0.039123,6
25,1.503191,0.241066,0.007169,0.003062,2000,auto,poly,"{'C': 2000, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,14
26,0.020753,0.003237,0.005260,0.004151,2000,auto,sigmoid,"{'C': 2000, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.767857,0.714286,0.750000,0.696429,0.767857,0.739286,0.029014,32
27,1.098193,0.128671,0.003646,0.003230,2000,auto,linear,"{'C': 2000, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
28,0.139680,0.027487,0.010580,0.006460,2000,scale,rbf,"{'C': 2000, 'gamma': 'scale', 'kernel': 'rbf'}",0.821429,0.875000,0.857143,0.910714,0.928571,0.878571,0.038132,5
29,1.448678,0.551248,0.007829,0.003976,2000,scale,poly,"{'C': 2000, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,14
30,0.018803,0.003369,0.008610,0.004427,2000,scale,sigmoid,"{'C': 2000, 'gamma': 'scale', 'kernel': 'sigmo...",0.767857,0.714286,0.750000,0.696429,0.767857,0.739286,0.029014,32
31,1.099123,0.070387,0.008096,0.004048,2000,scale,linear,"{'C': 2000, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
32,0.167931,0.025972,0.006055,0.004229,3000,auto,rbf,"{'C': 3000, 'gamma': 'auto', 'kernel': 'rbf'}",0.821429,0.857143,0.839286,0.892857,0.928571,0.867857,0.038465,9
33,2.132478,0.587281,0.010100,0.000059,3000,auto,poly,"{'C': 3000, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,14
34,0.016490,0.003615,0.006441,0.003678,3000,auto,sigmoid,"{'C': 3000, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.767857,0.714286,0.750000,0.696429,0.767857,0.739286,0.029014,32
35,2.228432,0.956920,0.006043,0.004224,3000,auto,linear,"{'C': 3000, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
36,0.187421,0.024150,0.006845,0.003515,3000,scale,rbf,"{'C': 3000, 'gamma': 'scale', 'kernel': 'rbf'}",0.821429,0.857143,0.839286,0.892857,0.928571,0.867857,0.038465,9
37,1.904804,0.617141,0.006969,0.006517,3000,scale,poly,"{'C': 3000, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,14
38,0.023107,0.004112,0.006811,0.004809,3000,scale,sigmoid,"{'C': 3000, 'gamma': 'scale', 'kernel': 'sigmo...",0.767857,0.714286,0.750000,0.696429,0.767857,0.739286,0.029014,32
39,1.839418,0.556708,0.007983,0.005262,3000,scale,linear,"{'C': 3000, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21

In [28]:
age_input=float(input("Age."))
salary_input=float(input("salary:"))
sex_male_input=int(input("Sex Male 0 or 1:"))

Age. 20
salary: 55
Sex Male 0 or 1: 1

In [27]:
grid.predict([[age_input,salary_input,sex_male_input]])

array([1])